.progress {
  background-color: #d8d8d8;
  border-radius: 20px;
  position: relative;
  margin: 15px 0;
  height: 2rem;
  width: auto;
}

.progress-done {
  background: linear-gradient(
    to left,
    rgba(54, 162, 235, 1),
    rgba(54, 162, 235, 0.2)
  );
  box-shadow: 0 3px 3px -5px rgba(54, 162, 235, 0.8),
    0 2px 5px rgba(54, 162, 235, 0.5);
  border-radius: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1s ease 0.3s;
}

.emptycontainer {
  background-color: rgba(54, 162, 235, 1);
  font-size: medium;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  position: relative;
  margin: 15px 0;
  height: 2rem;
  width: auto;
  max-width: 20rem;
  min-width: 5rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow: auto;
  text-align: center;
  padding-top: 0;
}
.emptycontainer > ul ,li{
  /* font-size: small; */
  list-style: none;
  margin: auto;
}
