.MyProgress {
  background-color: #ffffff;
  border-radius: 20px;
  position: relative;
  margin: 15px 0;
  height: 2rem;
  width: auto;
}

.progress-done {
  background: linear-gradient(
    to left,
    rgba(54, 162, 235, 1),
    rgba(54, 162, 235, 0.2)
  );
  box-shadow: 0 3px 3px -5px rgba(54, 162, 235, 0.8),
    0 2px 5px rgba(54, 162, 235, 0.5);
  border-radius: 20px;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1s ease 0.3s;
}

.progress-done p{
position: absolute;
left:5rem;
top:.2rem;

}

.emptycontainer {
  background-color: rgba(54, 162, 235, 1);
  font-size: medium;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  position: relative;
  margin: 15px 0;
  height: 2rem;
  width: auto;
  max-width: 20rem;
  min-width: 5rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow: auto;
  text-align: center;
  padding-top: 0;
}

.emptybigcontainer {
  background-color: rgba(54, 162, 235, 1);
  font-size: medium;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  position: relative;
  margin: 15px 0;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow: auto;
  text-align: center;
  padding: 0.5rem;
  opacity: 1;
  text-align: left;
  height: 4rem;
  font-variant-numeric: tabular-nums;
  font-size: 0.8rem;
}
.emptycontainer > ul,
li {
  /* font-size: small; */
  list-style: none;
  margin: auto;
}

.infoWhatif {
  display: grid;
  gap: 5px;
  justify-items: center;
  align-items: center;
  width: min(100%);
}
.tablecontrol{
 
 display: grid;
  gap: 5px;
  justify-items: center;
  align-items: center;
  width: min(100%);
}

.infoandpichrt {
  display: grid;
  gap: 5px;
  justify-items: center;
  align-items: center;
  width: min(100%);
}
.infoandpichrt :last-child {
  border: 4px rgb(22, 160, 252) solid;
  background-color: aqua;
  width: 20vh;
  height: 20vh;
  min-width: 5rem;
  min-height: 5rem;
  max-width: 350px;
  max-height: 350px;
  border-radius: 50%;
  border: 4px rgba(54, 162, 235, 1) solid;
}
section { width: 80%;}

@media (min-width: 50rem) {
  .emptybigcontainer {
    background-color: rgba(54, 162, 235, 1);
    font-size: medium;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    position: relative;
    margin: 15px 0;
    width: 80%;
    max-width: 60%;
    min-width: 5rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: auto;
    text-align: center;
    padding: 0.5rem;
    opacity: 1;
    text-align: left;
    height: 5rem;
    font-variant-numeric: tabular-nums;
  }
  .infoandpichrt {
    grid-template-columns: repeat(1,3fr 1fr);
  }
  .infoandpichrt :last-child {
    border: 4px rgb(22, 160, 252) solid;
    background-color: aqua;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    width: calc(40vh);
    height: calc(40vh);
    min-width: 250px;
    min-height: 250px;
    max-width: 350px;
    max-height: 350px;
    border-radius: 50%;
    border: 4px rgba(54, 162, 235, 1) solid;
  }
  .infoWhatif {
    grid-template-columns:repeat(1,1fr 3fr);
  }
.tablecontrol{
  display:flex;
  gap:1rem;
  justify-content:space-evenly;
  width:fit-content;
}


}

